<% provide(:title, @page.meta_title) %>
<% provide(:desc, @page.meta_desc) %>
<% content_for :canonical, page_url(@page) %>

<div class="row" itemscope itemtype="http://schema.org/BlogPosting">

  <meta itemprop="datePublished" content="<%= @page.created_at %>">
  <meta itemprop="author" content="Stuart Morris">

  <%= render partial: 'shared/wp_content', locals: { post: @page } %>

</div>

<script>
/**
* Function that tracks a click on an outbound link in Google Analytics.
* This function takes a valid URL string as an argument, and uses that URL string
* as the event label.
*/
var trackOutboundLink = function(url) {
   ga('send', 'event', 'page', 'avantlink_click', url, {'hitCallback':
     function () {
     document.location = url;
     }
   });
}
</script>