<% provide(:title, 'About') %>
<% provide(:canonical, about_url) %>

<div class="container-fluid">
	<div class="row">
	  <div class="col-lg-12 static-h1">
	  	<h1>About</h1>
	  </div>
  </div>
</div>

<div class="container-fluid">
	<div class="row">
	  <div class="col-lg-8 col-lg-offset-2">
      <p>The point of Ten Pound Backpack is to help you save weight when putting together a collection of gear for backpacking, hiking or even just camping. This pursuit of a lighter backpack is often called lightweight backpacking, or ultralight backpacking.</p>
      <p>It seems crazy, after all, to put together a backpack that weighs 50 pounds, for instance, when you could put together the same backpack, for the same trip, and have it weigh 20 pounds instead.</p>
      <p>And lightweight backpacking really is better than the backpacking that most people do, what you might call unnecessarily heavy backpacking. When you take all that weight off of your back you get to enjoy the outdoors more. You stop stooping over, just counting the steps until you get to drop your backpack, and you start to look around a little more, and really appreciating where you are.</p>
      <p>You also feel a lot better at the end of a long day. Backpacking starts to become fun. You start to understand what can be so appealing about trekking out in to the wilderness, because you're doing it with a lightweight backpack.</p>
      <p><strong>And that's what Ten Pound Backpack is all about. Making your backpack weigh less, so you can enjoy the outdoors more.</strong></p>
	  </div>
	</div>
</div>