<% provide(:title, 'home') %>
<% provide(:canonical, root_url) %>

<div class="container-fluid home-container">
	<div class="row home-bg">
		<div class="col-lg-10 col-lg-offset-1 center home-cats">
			<% Category.all.each do |category| %>
				<% if category.gears.count > 10 %>
					<div class="home-cat">
						<%= link_to "#{category.name} (#{category.gears.count})", category %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>