<% provide(:title, "Ten Pound Backpack Post Archives") %>

<div class="row">
  <div class="col-lg-12 index-h1">

    <h1>Ten Pound Backpack Post Archives</h1>

  </div>
</div>

<div class="row">
	<div class="col-lg-8 col-lg-offset-2">

    <%= render partial: 'shared/post', collection: @posts %>

  </div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="post-paginate">
		  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
		</div>
		<br>
		<br>
	</div>
</div>
