$font-family-base: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
$font-size-base: 22px;
$line-height-base: 1.5;
@import "bootstrap-sprockets";
@import 'bootstrap-custom';
@import "bootstrap";
@import "dataTables/jquery.dataTables";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";
@import "dataTables/extras/dataTables.fixedHeader";
@import "bootsy";
@import "style"