.center {
	text-align: center;
}

.no-center {
	text-align: left;
}

.hr-10 {
	margin: 15px 0;
}

a, .pagination > li > a, .pagination > li > span, .dropdown-menu li a {
	color: #d9534f;
	&:hover, &:focus, &:active {
		color: #c9302c;
	}
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
	border-color: #c9302c;
	background-color: #d9534f;
}

.form-control:focus {
	border-color: #d9534f;
	box-shadow: none;
}

#mc_embed_signup_scroll {
	text-align: center;
	.mc-field-group input {
		padding: 6px 15px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    margin-bottom: 15px;
	}
}

body {
	letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html, body {
	height: 100%;
	min-height: 100%;
	font-size: 13px;
}

h1 {
	font-size: 45px;
}

h2 {
	font-size: 40px;
}


////////////////////////////////////////////////
//////////////////// NAVBAR ////////////////////
////////////////////////////////////////////////



.dropdown-menu li a {
	font-size: 16px;
	padding: 2px 20px;
}

@media (min-width: 768px) {
	.navbar {
  	border-radius: 0;
	}
}

.navbar {
	margin-bottom: 15px;
}

.navbar-brand {
	padding-top: 2px;
	padding-bottom: 2px;
	img {
		max-height: 100%;
	}
}

.navbar-form {
	margin-top: 5.5px;
	.form-group .form-control {
		font-size: 16px;
		height: 36px;
	}
	.btn {
		font-size: 16px;
		padding: 5px 12px;
	}
}

ul.navbar-nav {
	li {
		font-size: 16px;
	}
}

////////////////////////////////////////////////
//////////////////// SIDEBAR ///////////////////
////////////////////////////////////////////////


.sidebar {
	h4 {
		font-size: 20px;
	}
	hr {
		margin: 10px 0;
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			padding: 3px 7px;
			border-bottom: 1px solid #eee;
			&:last-child {
				border-bottom: 0;
			}
		}
	}
	.well p {
		margin: 0;
	}
}


//////////////////////////////////////////////
//////////////////// HOME ////////////////////
//////////////////////////////////////////////


.home-container {
	height: 100%;
	margin-top: -33px;
	height: calc(100% - 52px);
}

.home-bg {
  min-height: 100%;
	background-image: image-url('home_bg.jpg');
	background-size: cover;
}

.home-cats {
	hr {
		margin-top: 0;
	}
	.home-cat {
		margin: 0 8px 20px 8px;
		display: inline-block;
		a {
			color: white;
			text-decoration: none;
			padding: 10px 20px;
			background-color: #d9534f;
			border-radius: 5px;
			font-size: 15px;
			&:hover, &:focus, &:active {
				text-decoration: none;
				color: white;
			}
		}
	}
}


////////////////////////////////////////////////////
//////////////////// WP CONTENT ////////////////////
////////////////////////////////////////////////////



.wp-title-container {
	background-image: image-url('wp_bg.jpg');
	margin-top: -33px;
	background-size: cover;
}

.head-block {
	text-align: center;
	h1 {
		margin-top: 0;
	}
	a {
		font-size: 20	px;
	}
	.wp-thumbs {
		color: #777;
		font-size: 15px;
		margin-top: 10px;
		.glyphicon-thumbs-down {
			margin-left: 15px;
		}
		.glyphicon {
			vertical-align: text-top;
		}
	}
}

.blog-meta {
	display: inline-block;
	vertical-align: middle;
	padding-left: 5px;
	text-align: left;
	color: #aaa;
	font-size: 13px;
	i {
		margin-right: 5px;
	}
	hr {
		margin: 1px;
	}
}

.gravatar-img {
	border-radius: 100%;
	display: inline-block;
	vertical-align: middle;
}

.wp-content-well {
	background-color: #FFD7D6;
  border-color: #FFA3A1;
  border-radius: 0;
	margin-bottom: 0;
	.dropdown-menu {
		left: -45px;
		li a {
			font-size: 13px;
		}
	}
}

.wp-content {
	margin-top: 20px;
	font-weight: normal;
	font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif !important;
	line-height: 1.5 !important;
	color: #333 !important;
	font-size: 16px;
	.alignright {
		float: right;
	}
	h2 {
		font-size: 37px;
	}
	li {
		margin: 10px 0;
	}
	a {
		text-decoration: underline;
	}
}

.one-day-deals {
	text-align: center;
	a {
		display: inline-block;
		width: 33%;
		padding: 10px;
		h5 {
			font-size: 15px;
			margin-bottom: 2px;
		}
		.deal-retail-price {
			font-size: 20px;
			color: #ddd;
			text-decoration: line-through;
		}
		.deal-sale-price {
			font-size: 20px;
			font-weight: bold;
			color: #333;
		}
		.deal-percent-off {
			font-size: 30px;
			font-weight: bold;
			line-height: 1;
		}
	}
}



////////////////////////////////////////////////////
//////////////////// GEAR LISTS ////////////////////
////////////////////////////////////////////////////



#gear-list {
	font-size: 15px;
	.gear-list-weight-td:after {
		content: " kg"
	}
	.gear-list-temp-td:after {
		content: " °F"
	}
	.gear-list-capacity-td:after {
		content: " L"
	}
	.gear-list-life-td:after {
		content: " Hours"
	}
}

.fixedHeader {
	font-size: 15px;
}

table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting {
  background-image: none;
}

.list-h1 {
	text-align: center;
	h1 {
		margin-top: 0;
		margin-bottom: 5px;
	}
	p {
		margin-bottom: 40px;
	}
}

.index-h1 {
	text-align: center;
	h1 {
		margin-top: 0;
		margin-bottom: 35px;
	}
}

.gear-h1 {
	text-align: center;
	h1 {
		margin: 0;
	}
	.btn {
		margin: 10px 0 35px;
	}
}

.gear-table {
	tr {
		padding: 5px 0;
		border-top: 1px solid #ddd;
		.gear-table-attribute {
			font-weight: bold;
			padding-right: 30px;
		}
		td {
			padding-top: 5px;
			padding-bottom: 5px;
		}
		&:first-child {
			border-top: 0;
		}
	}
}

.gear-well-btn {
	text-align: center;
	padding-top: 20px;
}



////////////////////////////////////////////////
//////////////////// SEARCH ////////////////////
////////////////////////////////////////////////



.search-title {
	text-align: center;
	h1 {
		margin: 0 0;
	}
}

#search-form {
	margin: 10px 0 40px;
	#q {
		width: 50%;
		padding: 6px 15px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    vertical-align: middle;
	}
}

.result {
	.picture-td {
		padding-right: 10px;
	}
	.info-td {
		line-height: 1;
		padding-bottom: 40px;
		.results-link {
			line-height: 20px;
		}
		.results-categories {
			font-size: 15px;
			color: #999;
		}
		.results-desc {
			line-height: 1.3;
		}
		.results-retail-price {
			float: left;
			margin: 0 20px 0 0;
			color: red;
			text-decoration: line-through;
		}
		.results-merch-name {
			color: #999;
			font-size: 15px;
		}
	}
}

.inline-search-page {
	margin: 20px 0;
	.form-control {
		font-size: 16px;
	}
}

.static-h1 {
	text-align: center;
	h1 {
		margin-top: 0;
	}
}

.index-wrapper {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  .index-pic {
    border-radius: 10px;
    border: 1px solid #dfdfdf;
    width: 340px;
    height: 340px;
    text-align: center;
    line-height: 300px;
    display: inline-block;
    vertical-align: top;
    a {
      display: block;
      img {
        max-width: 300px;
        max-height: 300px;
        padding: 20px;
      }
    }
  }
  .index-pic-small {
    @extend .index-pic;
    width: 120px;
    height: 120px;
    line-height: 100px;
    a img {
      max-width: 100px;
      max-height: 100px;
      padding: 10px;
    }
  }
  .index-content {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 0 -4px;
    h3 {
      padding-left: 10px;
      padding-bottom: 5px;
      margin-bottom: 0;
      border-bottom: 1px solid #dfdfdf;
      a:hover {
        text-decoration: none;
      }
    }
    .index-meta {
      margin-bottom: 0;
      border-bottom: 1px solid #dfdfdf;
      padding: 3px 10px;
      font-size: 13px;
      color: #888;
      i {
        margin-right: 8px;
      }
    }
    .index-text {
      padding: 10px 0 0 10px;
      font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif !important;
      line-height: 1.5 !important;
      font-size: 16px;
    }
    .read-more-btn {
      margin: 20px 0 0 20px;
      font-size: 20px;
      i {
      	margin-left: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
	.index-wrapper {
		text-align: center;
		.index-pic {
			width: 80%;
			a img {
				max-width: 100%;
				max-height: none;
			}
		}
		.index-content {
			width: 90%;
			.index-text {
				text-align: left;
			}
		}
	}  	
}

.index-ul-wrapper {
  clear: both;
  .article-index-ul {
    width: 270px;
    display: inline-block;
    vertical-align: top;
    float: left;
  }
  .article-index-ads {
    display: inline-block;
    vertical-align: top;
    .dotd-container {
      display: inline-block;
      float: right;
      margin-left: 20px;
      width: 170px;
      .dotd-content {
        width: 170px;
      }
    }
  }
}

.post-paginate {
	text-align: center;
	.pagination {
	  @extend .well;
	  margin: 0;
	  text-align: center;
  }
}


////////////////////////////////////////////////////
//////////////////// PAGE#INDEX ////////////////////
////////////////////////////////////////////////////



.page-index-ul {
	padding-left: 120px;
}